@use "variables" as var;

footer {
    padding: 2em;
    background: var.$lightPink;
}

.footer {
    &__info-container,
    &__socials-container {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    &__info,
    &__social {
        display: flex;
        justify-content: space-between;

        p {
            max-width: 15rem;
            text-align: center;
        }
    }

    &__icon-container {
        max-width: 1.5em;
        margin-right: 1em;
    }

    &__logo-text {
        font-size: 2em;
        color: white;
        font-family: "Send Flower";
        margin: auto;
        width: max-content;
        margin-top: 1em;
    }
}
