$pink: rgba(255, 17, 103, 0.7);
$lightPink: rgba(255, 17, 103, 0.2);
$darkishPink: rgba(255, 17, 103, 0.3);
$black: #2d0010;
$black75: rgba(45, 0, 16, 0.75);
$black50: rgba(45, 0, 16, 0.5);
$black25: rgba(45, 0, 16, 0.25);
