@use "variables" as var;
svg,
img {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    padding: 0.5rem 2rem;
    place-items: center;

    .header__logo--text {
        color: var.$pink;
        font-family: "Send Flower";
        font-size: 1rem;
    }
    .header__menu-container {
        cursor: pointer;
        display: flex;
        max-width: 2rem;
        place-items: center;
        width: 100%;
    }
    .header__logo--text,
    .header__menu-container {
        margin-left: auto;
        margin: 0rem;
    }
}

#hero__section {
    position: relative;

    * {
        transition: 700ms all;
    }
    .hero__text {
        color: var.$black75;
        font-family: "Send Flower";
        font-size: 1rem;
        margin-left: 2%;
        max-width: 14rem;
        position: absolute;
        top: 35%;
    }
    .hero__image {
        height: 14.5625rem;
    }
}

#img-desc__section--desktop {
    display: none;
}
#img-desc__section--mobile {
    padding: 2rem;
}
.img-desc {
    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:first-child {
            margin-bottom: 3rem;
        }
    }
    &__image {
        box-sizing: border-box;
        display: block;
        max-width: 10rem;
    }
    &__text {
        color: var.$black;
        text-align: center;
    }
}
