@use "header";
@use "footer";
@use "variables" as var;

svg,
img {
    height: 100%;
    width: 100%;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
}

.bg-ring {
    position: absolute;
    opacity: 0.1;
    z-index: -1;
}

#bg-ring-1 {
    width: 45rem;
    height: 30rem;
    transform: rotateZ(30deg);
    top: 30%;
    right: -20rem;
}

#bg-ring-2 {
    transform: matrix(-0.88, 0.47, 0.47, 0.88, 0, 0);
    left: -15rem;
    top: 67%;
    width: 36rem;
    height: 25rem;
}

#hero__section {
    position: relative;

    * {
        transition: 700ms all;
    }
    .hero__text {
        color: var.$black50;
        font-family: "Send Flower";
        font-size: 1rem;
        margin-left: 2%;
        max-width: 14rem;
        position: absolute;
        top: 35%;
    }
    .hero__image {
        height: 14.5625rem;
    }
}

#img-desc__section--desktop {
    display: none;
}
#img-desc__section--mobile {
    padding: 2rem;
}
.img-desc {
    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 28rem;
        margin: auto;

        &:first-child {
            margin-bottom: 3rem;
        }
    }
    &__image {
        box-sizing: border-box;
        display: block;
        max-width: 10rem;
    }
    &__text {
        color: var.$black;
        text-align: center;
    }
}

#custom-design__section {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.custom-design {
    &__heading {
        font-family: "Send Flower";
        text-align: center;
        text-decoration: underline;
        width: 7em;
        font-size: 1.4em;
        color: var.$black50;
    }

    &__instructions {
        max-width: 15em;
        position: relative;

        .custom-design__line {
            display: block;
            box-sizing: border-box;
            width: 0.5em;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            background: var.$lightPink;
            margin: auto;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }

    &__instruction-container {
        display: flex;
        flex-direction: column;
        place-items: center;
        margin: 0em auto 2em auto;
        background: white;
    }
}

#book-appointment__section {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-bottom: 5rem;
}

.book-appointment {
    &__heading {
        font-family: "Send Flower";
        color: var.$black50;
        text-align: center;
        max-width: 12em;
        text-decoration: underline;
        font-size: 1.4em;
    }

    &__link {
        color: white;
        background: var.$lightPink;
        text-decoration: none;
        max-width: 8em;
        text-align: center;
        padding: 0.5em 2em;
    }
}
