:root {
}

@font-face {
    font-family: "Send Flower";
    src: url("../../src/static/fonts/Send_Flowers/SendFlowers-Regular.ttf");
}

@font-face {
    font-family: "Spectral";
    src: url("../../src/static/fonts/Spectral/Spectral-Regular.ttf");
}

@font-face {
    font-family: "Spectral";
    src: url("../../src/static/fonts/Spectral/Spectral-Bold.ttf");
    font-weight: bold;
}

body * {
    font-family: "Spectral";
    box-sizing: border-box;
    display: block;
    padding: 0rem;
    margin: 0rem;
}
